@import "./node_modules/bootstrap/scss/bootstrap.scss";;
@import "./variables";

html {
    height: 100%;
}

body {
    background: url(./assets/bg.jpg);
  
    background: url("./assets/bg.jpg") no-repeat center center;
    background-size: cover;
    min-height: 100vh;
    height: 100%;
    font-family: 'Poppins', sans-serif;
    color: #0e4ea9;

}

#content {
    background: rgba(0, 25, 76, 0.557);
    border-radius: 16px;
    padding: 20px;
    margin-top: 5%;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
    text-align: center;
}


.row {
    margin: auto 0;
}

.card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 85px;
    color: white;
    border-radius: 12px;
    cursor: pointer;

    &-content {
       height: $card-content-height;
        font-size: 50px;
        position: absolute;
        color: white;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &-image {
        height: $card-content-height;
        width: 100%;
    }

    &-flip {
        perspective: 1000px;
        width: 100%;
        height: $card-height;
        margin-bottom: 10px;

    }
}

.flip {
    transform: rotateY(180deg);
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
    width: 100%;
    height: $card-height;
}

.front,.back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: $card-height;
}

.front {
    z-index: 2;
    transform: rotateY(0deg);
}

.back {
    transform: rotateY(180deg);
}

.progress {
    margin-bottom: 10px;
    height: 35px;
    display: flex;
    justify-content: center;
}